.size_time{font-size: 1.6em;}
#titre_nbTour{font-size:1.6em;}
#divini{font-size:1.3em;}


//LOADER
.background_loader{
    border-radius: 20px;
    background: rgba(240 , 240, 240, 0.6) ;
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 2%;
    left: 0;
    height: 580px;
    padding:2%;
    width: 100%;
    display: none;
}

.section_loader{
    background-color: rgb(237, 233, 233);
    width: 45%;
    border-radius: 25px;
    text-align: center;
    font-size: 1em;
    color: grey;
}

.loader{
    width: 250px;
    height: 250px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

//Quart de cercle du loader
.loader-quart{
  border-radius: 250px;
  border: 25px dashed grey;
  text-align: center;
  line-height: 200px;

}

.loader-quart:after{
    content:'';
    position: absolute;
    top: -24px; left: -24px; bottom: -24px; right: -24px;
    width: 250px;
    height: 250px;
    border-radius: 250px;
    border: 25px double transparent;
    border-top-color: rgb(211, 43, 43);
    -webkit-animation: sprin 2s linear 0s infinite;
            animation: sprin 2s linear 0s infinite;
}

@-webkit-keyframes sprin{
    0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes sprin{
    0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

